# Python
*.pyc
__pycache__/
*.pyo
*.egg-info/
dist/
build/
.eggs/

# Jupyter
.ipynb_checkpoints/

# Ambiente
.env
.venv/
venv/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Dados na raiz
/*.xlsx
/*.csv

# OS
.DS_Store
Thumbs.db
